@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import "resources/fervent-ui/fervent-ui.css";

:root {
    font-family: 'Roboto', sans-serif;
    --off-white-bg-color: #fff7ed;
    --primary-color: #fb923c;
    --secondary-color: #42919E;
    --black-text-color: #000000;
    --white-text-color: #FFFFFF;
    --border-color: #000000;
}

body {
    background-color: var(--off-white-bg-color);
}

.nav-bar {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -0.5rem;
    background-color: var(--primary-color);
    color: var(--off-white-bg-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-title {
    padding: 0.5rem 1rem 0.75rem 1rem;
    font-size: 1.5rem;
}

.nav-links ul li {
    list-style: none;
    display: inline;
    padding: 0.5rem 0.75rem;
    text-align: right;
}

.hero-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    height: 70vh;
}

.hero-section * {
    text-align: center;
}

.hero-section img {
    max-width: 700px;
}

.hero-section h1 {
    max-width:50rem;
}

.hero-section h4 {
    margin-top:-1rem;
    max-width: 40rem;
}

.hero-section p {
    max-width: 30rem;
    font-size: 1rem;
}

.installation-header {
    font-size: 2rem;
    margin: 0.5rem;
    margin-top: 2rem;
    text-align: center;
}

.installation-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.installation-section * {
    text-align: center;
    max-width: 40rem;
}

.installation-desc p {
    text-align: left;
}

.import-script {
    margin-top: 2rem;
    width: 867px; 
    border:0; 
    overflow:hidden;
}

.docs-grid-layout {
    display:grid;
    grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
    grid-template-columns: 0.75fr 1fr 1fr 1fr;
}

.nav-bar {
    grid-area: header;
}

.drawer {
    grid-area: sidebar;
}

.drawer-btns-container {
    position: sticky;
    top: 20px;
}

.resource-links {
    display: flex;
}

section {
    grid-area: main;
    margin: 2rem;
}

.title-caption {
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: -1rem;
    margin-bottom: 1.5rem;
}

.component-subheading {
    margin: 0.25rem 0.5rem;
}

.example-container-col {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
}

.example-container-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.ex-heading {
    margin: 0.5rem;
}

.example-script {
    text-align: center;
}

.example-script iframe {
    margin: 2rem;
    overflow: auto;
    width: auto;
    border:0;
    overflow: auto;
    max-height: 300px;
}

.remove-fixed-pos {
    position: static;
}