button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    width: 10rem;
}

a {
    text-decoration: none;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    opacity: 0.8;
}

* {
    padding-inline-start: 0px;
}