button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    opacity: 0.8;
}